# Supabase Configuration
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_anon_key_here

# NVIDIA NIM API Configuration
NVIDIA_API_KEY=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

# App Settings
PORT=8000
DEBUG=True
